.layerFirst {
  background-image: url('../../images/header/layer-1.jpg');
}
.layerSecond {
  background-image: url('../../images/header/layer-2.png');
}
.layerFifth {
  background-image: url('../../images/header/layer-5.png');
}
.layerSixth {
  background-image: url('../../images/header/layer-6.png');
}